body
  {
      background-image: url("C:/Users/VARSHANA/Desktop/spacex-pic-1.jpg");
      background-repeat: no-repeat;
      background-size:cover;
      background-attachment: fixed;
      overflow-y: scroll;
      padding: 0%;
      margin: 0%;
      display: grid;
      scroll-behavior: auto;
      color: white;
  }
.grid-container {
    display: grid;
    grid-template-columns: 100%;
    padding: 10px;
    gap: 10px;
    border: 10px;
  }

  .grid-item 
  {
    padding: 0px;
    font-size: 30px;
    text-align: center;
  }
  
  p
  {
    font-size: smaller;
    font-color: yellow;
  }

  .desc
  {
    font-size: medium;
  }

  input
  {
    padding: 10pt;
    font-size: 14px;
    border-radius: 3px;
    width: 250px;
  }

  form
  {
    width: 50%;
    margin: auto;
    border-color: gold;
  }
  form.placeholder
  {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    top: 22px;
    line-height: 100%;
  }